<!-- <div class="container-fluid">
    <div class="d-flex justify-content-center align-items-center ">
      <div class="border border-1 border-warning p-5 m-5 shadow-lg rounded bg-blur bg-opacity-5">
        <h1 class="text-center fw-bold border-bottom border-3 border-warning pb-3">
          Login
        </h1>
        <form [formGroup]="loginForm" (ngSubmit)="postData()" class="p-5">
          <div class="mb-3">
            <label for="user" class="form-label">User:</label>
            <input type="text" class="form-control" id="user" formControlName="email">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" formControlName="password">
          </div>
          <button type="submit" class="btn btn-success btn-block mt-3 me-2" (click)="postData()">Ingresar</button>
          <button type="submit" class="btn btn-info btn-block mt-3" (click)="postData()">Registrarte</button>
        </form>
        <div *ngIf="showAlert" [ngClass]="{'alert-success': alertConfig.type === 'success', 'alert-danger': alertConfig.type === 'danger'}" class="alert" [@alertAnimation]>
          {{message}}
          <button type="button" class="btn-close" (click)="showAlert = false"></button>
        </div>
      </div>
    </div>
  </div> -->







