
<div class=" d-flex justify-content-around">
    <div id="simple-list-example" class="simple-list-example-scrollspy mb-sm-auto  text-sm-start ">
        <div class="logo">
            <a  [routerLink]="'summary'" class=" text-center ">
                <img src="../../../../assets/img/COVID_logo.png" class="img-fluid" alt="logo">
            </a>
        </div>
        <a [routerLink]="'summary'" routerLinkActive="active" class="list-group-item list-group-item-action  pt-5 ps-0 pe-2 pb-2 ms-0 mt-5 me-0 ">
            <i class="fa fa-solid fa-file fa-flip-horizontal" style="color: #f00000;"></i>
            &nbsp;
            Sumary
        </a>
        <a [routerLink]="'live'" routerLinkActive="active"  class="list-group-item list-group-item-action pt-5 ps-0 pe-2 pb-2 me-0 mt-3  ">
            <i class="fa fa-pie-chart" aria-hidden="true"></i>
            &nbsp;
            Lives
        </a>
        <a [routerLink]="'country'" routerLinkActive="active" class="list-group-item list-group-item-action pt-5 ps-0 pe-2 pb-2  me-0  mt-3  ">
            <i class="fa fa-sharp fa-solid fa-globe" style="color: #00ff11;"></i>
            &nbsp;
            Country
        </a>
        <div class="col align-self-end bottom-0">
            <h2 class="mt-5  bottom-0 app-name-bottom ">
                Covid-19 Track 
            </h2>
        </div>
        
    </div>
</div>
   