
<div>
    <div class="container-fluid p-0 m-0 vh-100 vw-100">
        <div class="row">
            <div class="col-3 vh-100 pt-4" [ngClass]="{ 'hide-sidebar-topbar' : hideSidebarTopbar }">
                <app-sidebar
                [ngClass]="{ 'hide-sidebar-topbar' : hideSidebarTopbar }"
                ></app-sidebar>        
            </div>
            <div class="col-9 m-0">
                <app-topbar
                [ngClass]="{ 'hide-sidebar-topbar' : hideSidebarTopbar }"
                ></app-topbar>
                <div class="container-fluid mt-4 vh-100">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- <app-topbar></app-topbar> -->




