 /* Estilizar la barra de desplazamiento vertical */
 .scrollable-table::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

.scrollable-table::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 5px; /* Radio de borde del pulgar */
}

.scrollable-table::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista de la barra de desplazamiento */
}

/* Estilo para el pulgar de la barra de desplazamiento en Firefox */
.scrollable-table {
    scrollbar-width: thin; 
    scrollbar-color: #007bff #f1f1f1;
}